@use '@fontsource-variable/fira-code';
@use './partials/vars' as *;
@use './partials/utilities';
/**
  resets
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $grey;
  color: $white;
  font-family: 'Fira Code Variable', sans-serif;
  background-image: url('/img/sprinkle.svg');
  background-position: cover;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol, menu {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: 'Fira Code Variable', sans-serif;
  background-color: transparent;
  border: none;
  &:focus {
    outline: 2px solid $white;
    outline-offset: 2px;
    border-radius: inherit;
  }
}


a {
  text-decoration: none;
  display: block;
  color: currentColor;
}

.animated-fade-in {
  opacity: 0;
  transform: scale(0.8);
  animation: fade-in 500ms ease-out;
  animation-timeline: view(); 
  animation-range: 10% 40%;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}