@use '@fontsource-variable/fira-code';
@use './partials/vars' as *;
@use './partials/utilities';
/**
  resets
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $grey;
  color: $white;
  font-family: 'Fira Code Variable', sans-serif;
  background-image: url('/img/sprinkle.svg');
  background-position: cover;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol, menu {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: 'Fira Code Variable', sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
}


a {
  text-decoration: none;
  display: block;
  color: currentColor;
}
